body {
  background-color: lightgoldenrodyellow;
}

h1 {
  text-align: center;
  position: absolute;
  left: 30%;
  top: 20%;
  color: black;
}


.div{
  text-align: center;
  position: absolute;
  left: 40%;
  top: 40%;
  border: 2px;
}